<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = yield_content :css
    %title<
      = @page_title
    %meta{:content => @meta_description || "Realtime Monitoring", :name => "description"}
    %meta{:content => "140 Proof / John Manoogian III / jm3@140proof.com", :name => "author"}/
    = @meta
    %link{:href => @favicon || img_path('/images/favicon.png'), :rel => "shortcut icon"}/
    = yield_content :meta
  %body{:onload => @onload || ""}

    \#{yield}

    %footer
      %a{:href => "/"}
        monitoring
      |
      %a{:href => "/config"}
        config

  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  :javascript
    try {
      _gaq.push(
        ['_setAccount', 'TBD'],
        ['_trackPageview']
      );
    } catch(err) {}
  %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
